@import "../sass/utilities/initial-variables";
@import "../sass/utilities/functions";

$gray: #d3d3d3;
$pink: #ffb3b3;

$family-serif: "Merriweather", "Georgia", serif;


$info: $pink


@import "../bulma";